.shopping_cart {
  background-color: var(--backgrounds-color-2);
  padding: 15px 0px 15px;
  min-height: calc(100vh - 70px);
}
@media (min-width: 768px) {
  .shopping_cart {
    padding: 30px 0px 30px;
    min-height: calc(100vh - 76px);
  }
}
/* lg */
@media (min-width: 1024px) {
  .shopping_cart {
    min-height: calc(100vh - 78px);
  }
}
.shopping_cart .container .cart_wrapper .cart_title {
  padding: 0px 0px 15px;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}
@media (min-width: 768px) {
  .shopping_cart .container .cart_wrapper .cart_title {
    padding: 0px 0px 30px;
    font-size: 22px;
  }
}
.shopping_cart .container .cart_wrapper .cart_details {
  width: 100%;
}
.shopping_cart .container .cart_wrapper .cart_details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 7.4px;
  flex-direction: column-reverse;
}
/* lg */
@media (min-width: 1024px) {
  .shopping_cart .container .cart_wrapper .cart_details {
    flex-direction: row-reverse;
  }
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info {
  width: 100%;
}
/* lg */
@media (min-width: 1024px) {
  .shopping_cart .container .cart_wrapper .cart_details .cart_info {
    width: 30%;
  }
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 7.5px;
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info .checkout_summary {
  padding: 7.5px;
  background-color: var(--backgrounds-color-1);
  border-radius: 7.4px;
  height: fit-content;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info .checkout_summary .summary_title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info .checkout_summary .summary_details {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info .checkout_summary .summary_details .summary_row {
  display: flex;
  justify-content: space-between;
  column-gap: 7.5px;
  font-size: 14px;
  color: var(--text-color);
  padding: 7.5px;
  background-color: var(--backgrounds-color-2);
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info .checkout_summary .summary_details .summary_row .summary_value {
  font-weight: 500;
  color: var(--main-color);
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info .checkout_summary .summary_details .summary_row .summary_value_skeletion {
  animation: var(--animation-skeletion);
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info .checkout_summary .summary_details .line {
  border: 1px solid var(--main-color);
  margin: 7.5px 0px;
}
.shopping_cart .container .cart_wrapper .cart_details .cart_info .coupon_form {
  padding: 7.5px;
  background-color: var(--backgrounds-color-1);
  border-radius: 7.4px;
  height: fit-content;
  box-shadow: var(--shadow-1);
}
.shopping_cart .container .cart_wrapper .cart_details .product_cards {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  width: 100%;
}
/* lg */
@media (min-width: 1024px) {
  .shopping_cart .container .cart_wrapper .cart_details .product_cards {
    width: 70%;
  }
}
.ab_popup {
  position: fixed;
  min-width: 100%;
  height: calc(100vh - 70px);
  top: 70px;
  left: 0;
  padding: 7.5px;
  transition: all 0.1s;
  background-color: #0000009f;
  cursor: default;
}
/* md */
@media (min-width: 768px) {
  .ab_popup {
    height: calc(100vh - 76px);
    top: 76px;
  }
}
.ab_popup .popup {
  max-height: calc(100vh - 70px - 15px);
  padding: 15px;
  background-color: var(--backgrounds-color-1);
  border-radius: 7.5px;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  overflow: auto;
}
.ab_popup .popup::-webkit-scrollbar {
  display: none;
}
/* md */
@media (min-width: 768px) {
  .ab_popup .popup {
    width: calc(100% - 15px);
    max-width: 800px;
    max-height: calc(100vh - 76px - 15px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.ab_popup .popup .popup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5px;
  position: sticky;
  top: 0px;
  background-color: var(--backgrounds-color-2);
  box-shadow: var(--shadow-1);
  border-radius: 7.4px;
  z-index: 1;
}
.ab_popup .popup .popup_header .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}
.ab_popup .popup .popup_header .icon {
  font-size: 24px;
  color: var(--color-of-error);
  cursor: pointer;
}
.ab_popup .popup .checkout_form {
  position: relative;
  padding-top: 7.5px;
}
.ab_popup .popup .checkout_form .payment_methods {
  display: flex;
  border-radius: 7.4px;
  gap: 7.5px;
  padding-bottom: 12px;
}
.ab_popup .popup .checkout_form .payment_methods .check_payment {
  width: 50%;
  padding: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 7.5px;
  border-radius: 7.4px;
  color: var(--text-color);
  background-color: var(--backgrounds-color-2);
  cursor: pointer;
  border: 1px solid transparent;
}
.ab_popup .popup .checkout_form .payment_methods .check_payment.active {
  border: 1px solid var(--main-color);
}
.ab_popup .popup .checkout_form .payment_methods .check_payment .icon {
  font-size: 22px;
  color: var(--main-color);
}
.ab_popup .popup .checkout_form .payment_methods .check_payment span {
  font-size: 16px;
  font-weight: 600;
}
.ab_popup .popup .checkout_form .payment_methods .check_payment input[type="radio"] {
  display: none;
}
.ab_popup .popup .checkout_form .grid {
  gap: 0px 7.5px;
  border-radius: 7.4px;
}
/* md */
@media (min-width: 768px) {
  .ab_popup .popup .checkout_form .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.ab_popup .popup .checkout_form .flag-dropdown {
  border: none;
}
.ab_popup .popup .checkout_form .selected-flag {
  border: 1px solid #3867df79;
  background-color: var(--backgrounds-color-1);
  color: var(--text-color);
}
.ab_popup .popup .checkout_form .country-list {
  background-color: var(--backgrounds-color-1);
}
.ab_popup .popup .checkout_form .country {
  color: var(--text-color);
}
.ab_popup .popup .checkout_form .country:hover {
  background-color: var(--backgrounds-color-2);
}
.ab_popup .popup .checkout_form .highlight {
  color: var(--text-color);
  background-color: var(--backgrounds-color-1);
}
.ab_popup .popup .checkout_form .dial-code {
  color: var(--imputs-placeholder);
}