.products {
  background-color: var(--backgrounds-color-2);
  padding: 15px 0px 15px;
}
@media (min-width: 768px) {
  .products {
    padding: 30px 0px 30px;
  }
}
.products .container .ab .title {
  padding: 0px 0px 15px;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}
@media (min-width: 768px) {
  .products .container .ab .title {
    padding: 0px 0px 30px;
    font-size: 22px;
  }
}
.products .container .ab_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.5px;
}
@media (min-width: 640px) {
  .products .container .ab_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .products .container .ab_cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .products .container .ab_cards {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
}