.products_card_skeletion {
  background-color: var( --backgrounds-color-1);
  border-radius: 7.4px;
  overflow: hidden;
  padding: 7.5px;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}
.products_card_skeletion .sec_1 .ab_img {
  position: relative;
  height: calc(15px * 14);
  animation: var(--animation-skeletion);
}
.products_card_skeletion .sec_2 {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.products_card_skeletion .sec_2 .product_title {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: var(--transition);
  line-height: 24px;
  animation: var(--animation-skeletion);
}
@media (min-width: 1024px) {
  .products_card_skeletion .sec_2 .product_title {
    font-size: 16px;
  }
}
.products_card_skeletion .sec_2 .price {
  display: flex;
  gap: 4px;
}
.products_card_skeletion .sec_2 .price .currency {
  font-size: 12px;
  text-transform: uppercase;
  animation: var(--animation-skeletion);
}
.products_card_skeletion .sec_2 .price .number {
  font-weight: 500;
  font-size: 18px;
  animation: var(--animation-skeletion);
}
.products_card_skeletion .sec_2 .ab_discount {
  display: flex;
  gap: 4px;
}
.products_card_skeletion .sec_2 .ab_discount .price {
  font-size: 14px;
  text-decoration: line-through;
  animation: var(--animation-skeletion);
}
.products_card_skeletion .sec_2 .ab_discount .discount {
  font-size: 14px;
  font-weight: 500;
  animation: var(--animation-skeletion);
}
.products_card_skeletion .sold_and_quantity .sold {
  display: flex;
  align-items: center;
  column-gap: 7.5px;
  animation: var(--animation-skeletion);
}
.products_card_skeletion .sold_and_quantity .sold .ab_icon .icon {
  font-size: 16px;
  font-weight: 400;
}
.products_card_skeletion .sold_and_quantity .sold .number {
  font-size: 14px;
  font-weight: 400;
}