.profile_container_skeleton {
  padding: 15px 0;
  background-color: var(--backgrounds-color-2);
  min-height: calc(100vh - 70px);
}
/* md	*/
@media (min-width: 768px) {
  .profile_container_skeleton {
    min-height: calc(100vh - 76px);
  }
}
/* lg	*/
@media (min-width: 1024px) {
  .profile_container_skeleton {
    min-height: calc(100vh - 78px);
  }
}
.profile_container_skeleton .container .profile_header {
  background-color: var(--backgrounds-color-1);
  padding: 15px;
  box-shadow: var(--shadow-1);
  border-radius: 7.5px;
}
.profile_container_skeleton .container .profile_header .profile_info {
  display: grid;
  justify-content: center;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}
.profile_container_skeleton
  .container
  .profile_header
  .profile_info
  .profile_image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  padding: calc(7.5px / 2);
  background-color: #fff;
  box-shadow: var(--shadow-1);
  animation: var(--animation-skeletion);
}
.profile_container_skeleton
  .container
  .profile_header
  .profile_info
  .profile_image
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile_container_skeleton
  .container
  .profile_header
  .profile_info
  .user_details {
  color: var(--text-color);
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: calc(7.5px / 2);
}
.profile_container_skeleton
  .container
  .profile_header
  .profile_info
  .user_details
  h1 {
  font-size: 24px;
  font-weight: 500;
  animation: var(--animation-skeletion);
  width: fit-content;
  border-radius: 7.5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.profile_container_skeleton
  .container
  .profile_header
  .profile_info
  .user_details
  p {
  font-size: 18px;
  animation: var(--animation-skeletion);
  width: fit-content;
  border-radius: 7.5px;
}

.profile_container_skeleton .container .profile_sections {
  margin-top: 30px;
  display: grid;
  gap: 30px;
}
.profile_container_skeleton .container .section {
  background-color: var(--backgrounds-color-1);
  border-radius: 7.5px;
  padding: 15px;
  box-shadow: var(--shadow-1);
}
.profile_container_skeleton .container .section h2 {
  font-size: 20px;
  font-weight: 500;
  animation: var(--animation-skeletion);
  width: fit-content;
  border-radius: 7.5px;
}

.profile_container_skeleton .container .profile_sections .personal_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile_container_skeleton
  .container
  .profile_sections
  .personal_info
  .info_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.profile_container_skeleton
  .container
  .profile_sections
  .personal_info
  .info_grid
  .info_item {
  padding: 15px;
  background-color: var(--backgrounds-color-2);
  border-radius: 7.5px;
  box-shadow: var(--shadow-1);
}
.profile_container_skeleton
  .container
  .profile_sections
  .personal_info
  .info_grid
  .info_item
  .info_content {
  display: flex;
  flex-direction: column;
  gap: calc(7.5px / 2);
}
.profile_container_skeleton
  .container
  .profile_sections
  .personal_info
  .info_grid
  .info_item
  .info_content
  label {
  display: block;
  font-size: 14px;
  animation: var(--animation-skeletion);
  width: fit-content;
  border-radius: 7.5px;
}
.profile_container_skeleton
  .container
  .profile_sections
  .personal_info
  .info_grid
  .info_item
  .info_content
  p {
  font-size: 16px;
  animation: var(--animation-skeletion);
  border-radius: 7.5px;
}

.profile_container_skeleton .container .profile_sections .address_info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.profile_container_skeleton
  .container
  .profile_sections
  .address_info
  .address_card {
  background-color: var(--backgrounds-color-2);
  border-radius: 7.5px;
  padding: 15px;
  box-shadow: var(--shadow-1);
}
.profile_container_skeleton
  .container
  .profile_sections
  .address_info
  .address_card
  .address_details {
  display: flex;
  flex-direction: column;
  gap: calc(7.5px / 2);
}
.profile_container_skeleton
  .container
  .profile_sections
  .address_info
  .address_card
  .address_details
  p {
  font-size: 16px;
  animation: var(--animation-skeletion);
  border-radius: 7.5px;
}
.profile_container_skeleton
  .container
  .profile_sections
  .address_info
  .address_card
  .address_details
  span {
  font-weight: 500;
  animation: var(--animation-skeletion);
  width: fit-content;
  border-radius: 7.5px;
}
