.product_information_skeletion {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}
/* md	*/
@media (min-width: 768px) {
  .product_information_skeletion {
    width: 50%;
  }
}
/* lg	*/
@media (min-width: 1024px) {
  .product_information_skeletion {
    flex-grow: 1;
  }
}
.product_information_skeletion > .title {
  font-size: 22px;
  font-weight: 500;
  animation: var(--animation-skeletion);
}
.product_information_skeletion .description {
  animation: var(--animation-skeletion);
  font-size: 16px;
}
.product_information_skeletion .prices .price_2 {
  font-size: 18px;
}
/* md	*/
@media (min-width: 768px) {
  .product_information_skeletion .prices .price_2 {
    font-size: 22px;
  }
}
.product_information_skeletion .prices .price_2 .price {
  font-weight: 500;
  animation: var(--animation-skeletion);
}
.product_information_skeletion .prices .discount {
  animation: var(--animation-skeletion);
}
.product_information_skeletion .r_rq_s_q {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, auto));
  gap: calc(15px / 2);
  max-width: 100%;
}
.product_information_skeletion .r_rq_s_q .box {
  padding: calc(15px / 2);
  color: var(--text-color);
}
.product_information_skeletion .r_rq_s_q .box .title {
  font-size: 16px;
  animation: var(--animation-skeletion);
  margin-bottom: calc(15px / 2);
}
.product_information_skeletion .r_rq_s_q .box .section_of_values {
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-size: 16px;
  font-weight: 500;
  animation: var(--animation-skeletion);
}
.product_information_skeletion .relations {
  animation: var(--animation-skeletion);
  font-size: 16px;
  width: fit-content;
}
.product_information_skeletion .q_a_s {
  display: flex;
  column-gap: calc(15px / 2);
  margin-top: auto;
}
.product_information_skeletion .q_a_s .quantity {
  display: flex;
  animation: var(--animation-skeletion);
}
.product_information_skeletion .q_a_s .quantity .number {
  font-size: 16px;
  padding: 15px;
  animation: var(--animation-skeletion);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_information_skeletion .q_a_s .quantity .button {
  font-size: 16px;
  padding: 15px;
  animation: var(--animation-skeletion);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_information_skeletion .q_a_s .quantity .icon {
  font-size: 16px;
}
.product_information_skeletion .q_a_s .add_to_cart {
  font-size: 18px;
  padding: 15px;
  animation: var(--animation-skeletion);
  flex-grow: 1;
}
