.sign_up {
  padding: 24px 0px;
}
.sign_up .container .ab .form .ab_first_name_and_last_name {
  display: flex;
  column-gap: 10px;
  padding-bottom: 12px;
}
.sign_up .container .ab .form .ab_first_name_and_last_name > div {
  flex-grow: 1;
}
.sign_up .container .ab .form .flag-dropdown {
  border: none;
}
.sign_up .container .ab .form .selected-flag {
  border: 1px solid #3867df79;
  background-color: var(--backgrounds-color-1);
  color: var(--text-color);
}
.sign_up .container .ab .form .country-list {
  background-color: var(--backgrounds-color-1);
}
.sign_up .container .ab .form .country {
  color: var(--text-color);
}
.sign_up .container .ab .form .country:hover {
  background-color: var(--backgrounds-color-2);
}
.sign_up .container .ab .form .highlight {
  color: var(--text-color);
  background-color: var(--backgrounds-color-1);
}
.sign_up .container .ab .form .dial-code {
  color: var(--imputs-placeholder);
}