.sign_up .container .ab {
  padding: 30px 0px;
  position: relative;
  padding: 12px;
  margin: 24px auto;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
}
.sign_up .container .ab .loading {
  position: absolute;
  width: 100%;
  height: calc(100%);
  background-color: #ffffff71;
  cursor: not-allowed;
  color: var(--main-color);
  z-index: 1;
  left: 0;
  top: 0;
}
.sign_up .container .ab .title {
  padding: 0px 0px 12px;
  font-size: 22px;
  font-weight: 650;
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
}
.sign_up .container .ab .alert {
  background-color: #fff5f5;
  padding: 8px;
  border-radius: 14px;
  border: 1px solid red;
  margin-bottom: 6px;
}
.sign_up .container .ab .error {
  color: red;
  font-size: 14px;
}
.sign_up .container .ab .form .label {
  display: block;
  text-align: left;
  color: var(--text-color);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 6px;
  cursor: pointer;
}
.sign_up .container .ab .form .input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #3867df79;
  border-radius: 14px;
}
.sign_up .container .ab .form .input:focus {
  outline: 1PX solid var(--main-color);
}
.sign_up .container .ab .form .form-control  {
  display: block;
  width: 100%;
  font-size: 16px;
  border: 1px solid #3867df79;
  border-radius: 14px;
}
.sign_up .container .ab .form .form-control:focus {
  background-color: var(--backgrounds-color-2);
}
.sign_up .container .ab .form .submit {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 4px;
  border: 1px solid var(--main-color);
  border-radius: 14px;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
}
.sign_up .container .ab .form .submit:focus {
  outline: 1PX solid var(--main-color);
}
.sign_up .container .ab .form .ab_first_name_and_last_name {
  display: flex;
  column-gap: 10px;
  padding-bottom: 12px;
}
.sign_up .container .ab .form .ab_first_name_and_last_name > div {
  flex-grow: 1;
}
.sign_up .container .ab .form .ab_inputs {
  padding-bottom: 12px;
}
/* start media query  */
/* sm */
/* @media (min-width: 640px) {

} */
/* md */
/* @media (min-width: 768px) {

} */
/* lg */
@media (min-width: 1024px) {
  .sign_up .container .ab {
    width: 70%;
  }
}
/* xl */
@media (min-width: 1280px) {
  .sign_up .container .ab {
    width: 50%;
  }
}
/* end media query */