.sign_up {
  padding: 24px 0px;
}
.sign_up .container .ab .form .ab_first_name_and_last_name {
  display: flex;
  column-gap: 10px;
}
.sign_up .container .ab .form .ab_first_name_and_last_name > div {
  flex-grow: 1;
}
