.noFound {
  background-color: var(--backgrounds-color-1);
  padding: 80px 0;
}
.noFound .container .ab {
  margin: 0px auto;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.noFound .container .ab :nth-child(1) {
  width: 180px;
  margin: 0 auto;
}
.noFound .container .ab :nth-child(2) {
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
}
.noFound .container .ab :nth-child(3) {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
  text-align: center;
}
.noFound .container .ab .buttom {
  display: block;
  width: 200px;
  font-size: 16px;
  padding: 4px;
  border: 1px solid var(--main-color);
  border-radius: 14px;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
}
/* start media query  */
/* sm */
@media (min-width: 640px) {
  .noFound .container .ab {
    width: 440px;
  }
}
/* end media query */