@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin: 0 auto;
  padding: 0 16px;
}

:root {
  --main-color: #3866df;
  --text-color: #050505;
  --backgrounds-color-1: #fff;
  --backgrounds-color-2: #f7f7fa;
  --transition: 0.3s all;
  --animation-skeletion: animationSkeletion 1s linear infinite;
}

/* Start animation skeletion */
@keyframes animationSkeletion {
  0%, 100% {
    background-color: #eeeeee;
    color: #eeeeee;    
  }
  50% {
    background-color: #dddddd;
    color: #dddddd;
  }
}
/* End animation skeletion */

/* sm	*/
/* @media (min-width: 640px) {} */
/* md	*/
/* @media (min-width: 768px) {} */
/* lg	*/
/* @media (min-width: 1024px) {} */
/* xl	*/
/* @media (min-width: 1280px) {} */
/* 2xl */
/* @media (min-width: 1536px) {} */