@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin: 0 auto;
  padding: 0 16px;
}

:root {
  --main-color: #3866df;
  --text-color: #050505;
  --backgrounds-color-1: #fff;
  --backgrounds-color-2: #f7f7fa;
  --shadow-1: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --imputs-placeholder: #888888;
  --bg-color-forms-loading: #ffffff9f;
  --transition: 0.3s all;
  --color-skeletion-1: #eeeeee;
  --color-skeletion-2: #dddddd;
  --animation-skeletion: animationSkeletion 1s linear infinite;
}

/* Dark mode styles */
[data-theme='dark'] {
  --main-color: #3866df;
  --text-color: #f5f5f5;
  --backgrounds-color-1: #121212;
  --backgrounds-color-2: #1d1d1d;
  --shadow-1: rgba(0, 0, 0, 0.7) 0px 4px 12px;
  --imputs-placeholder: #888888;
  --bg-color-forms-loading: #0000009f;
  --transition: 0.3s all;
  --color-skeletion-1: #333333;
  --color-skeletion-2: #444444;
  --animation-skeletion: animationSkeletion 1s linear infinite;
}

/* Start animation skeletion */
@keyframes animationSkeletion {
  0%, 100% {
    background-color: var(--color-skeletion-1);
    color: var(--color-skeletion-1);  
  }
  50% {
    background-color: var(--color-skeletion-2);
    color: var(--color-skeletion-2);
  }
}
/* End animation skeletion */

/* sm	*/
/* @media (min-width: 640px) {} */
/* md	*/
/* @media (min-width: 768px) {} */
/* lg	*/
/* @media (min-width: 1024px) {} */
/* xl	*/
/* @media (min-width: 1280px) {} */
/* 2xl */
/* @media (min-width: 1536px) {} */